extend layout
block content
	p
		| aha this is my first paragraph.  It's styling will be really shitty.
	p
		| and a second shittily styled paragraph
block sidebar
	.widget
		h1 the widget
		p
			| blah blah blahb