extend layout
block imgback
	div(style="position:fixed;width:200%;height:200%;left:-50%;top:-5%")
		img(src="https://s3.amazonaws.com/media.jetstrap.com/zgyvyGO1Sr233R1BQjNl_Lawn_UVa_Rotunda_and_sky_2010.jpg",style="max-height:100%;max-width:100%;z-index:-5;")
block content
	.one.centered.half.padded(style="z-index:45;background:rgba(100,100,100,.7);text-align:center;")
		h1(style="color:white;") Hoos Working Where
		a.button.info(href="/selectjob")
			| log in with facebook
		h5.white summer starts now