extend layout
block content
	.one.centered.half.padded(style="z-index:45;background:rgba(100,100,100,.7);text-align:center;")
		h1(style="color:white;") Hoos Working Where
		a.button.info.large(href="/selectjob")
			| login with facebook
		h5.white summer starts now
	div(style="position:absolute;bottom:5%;width:100%;")
		.one.centered.fifth.fixed.circled-child.centerindexfooter(style="")
				a.one.third(style="max-width:81px !important;float:left;clear:none;",href="https://twitter.com/A_Raj11",target="_blank")
					img(src='/images/ashoka.jpg')
				a.one.third(style="max-width:81px !important;float:left;clear:none;",href="https://twitter.com/HackCville",target="_blank")
					img(src='/images/hcville.png',)
				a.one.third(style="max-width:81px !important;float:left;clear:none;",href="https://twitter.com/plammann",target="_blank")
					img(src='/images/paul.jpg')
						https://twitter.com/HackCville