extend layout
block content
	.one.centered.half.padded(style="z-index:45;background:rgba(100,100,100,.7);text-align:center;")
		h1(style="color:white;") Hoos Working Where
		a.button.info(href="/selectjob")
			| log in with facebook
		h5.white summer starts now
	div(style="position:absolute;bottom:5%;width:100%;")
		.one.centered.fifth.fixed.circled-child.centerindexfooter(style="")
				.one.third(style="max-width:81px !important;float:left;clear:none;")
					img(src='/images/ashoka.jpg')
				.one.third(style="max-width:81px !important;float:left;clear:none;")
					img(src='/images/hcville.png')
				.one.third(style="max-width:81px !important;float:left;clear:none;")
					img(src='/images/paul.jpg')