!!!5
html
	head
		title #{title} - NODESITE
		link( href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css", rel="stylesheet")
		link(rel='stylesheet',href='/stylesheets/style.css')
		
	body
		header
			h1 This is my site
		.container
			.main-content
				block content
			.sidebar
				block sideber
		footer
			p Running on node with express, jade, and stylus
