!!!5
html
	head
		title #{title} - NODESITE
		link( href="/groundwork-master/css/groundwork.css", rel="stylesheet")
		link(rel='stylesheet',href='/stylesheets/style2.css')
		script(src="/scripts/jquery-2.0.0.min.js")
		
	body
		.container
			.main-content
				block content
