extend layout
block content
	.one.centered.half.padded(style="z-index:45;background:rgba(100,100,100,.7);text-align:center;")
		h1(style="color:white;") What's your plan for the summer?
		.small-tablet.padded.tiles.selectfutureoptions
			.tile.selectfuture
				i.icon-user
				| I haz jobz
			.tile.selectfuture
				i.icon-user-md
				| I has gradsch00l
			.tile.selectfuture
				i.icon-plane
				| Traveling
			.tile.selectfuture
				i.icon-glass
				| Can I haz Job?
		script(type="text/javascript")
			$(function(){
				$(".selectfutureoptions").delegate(".selectfuture","click",function(){
						$(".selectfutureinfo").slideDown(200);
					})
			});
		.padded.selectfutureinfo(style="display:none")
			h2.white Where are you working?
			form(action="/selectjob/detailsubmission",method="post")
				input(placeholder="Business/school?", name="place",required,type="text")
				input(placeholder="City?",name="city",required,type="text")
				input(placeholder="Country",name="country",required,type="text")
				input(type="submit",value="Done")
