/*
 * Import nib
 */
@import 'nib'

.white
	color:white
.circled-child img
	border-radius:100%
body
	background-image:url('/images/brotunda2.jpg')
	background-size:cover
	background-position:center bottom
.centerindexfooter.circled-child
	max-width:245px;
	z-index:40